<div class="srx chat-card">
  <header class="card-header">
    <h3>{{title}}</h3>
  </header>
  
  {{#if success}}
  <p class="success">{{message}}</p>
  {{else}}
  <p class="failure">{{message}}</p>
  {{/if}}
</div>
