<div class="srx chat-card heal-card">
  <header class="card-header">
    <i class="fa-solid fa-kit-medical card-icon"></i>
    <h3>{{title}}</h3>
  </header>

  {{#if success}}
  <p class="success">{{message}}</p>
  {{else}}
  <p class="failure">{{message}}</p>
  {{/if}}
</div>
